*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 1349px;
	color: #323232;
	background-color: #323232;
	font: 12px/1.5 Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,\5b8b\4f53,sans-serif;
}
ul{
	list-style: none;
}
a{
	color: #0073b6;
	text-decoration: none;
	font-family : 'Hiragino Sans GB','Microsoft YaHei';
}
li{
	list-style: none;
}
h2{
	font-family: "Hiragino Sans GB","Microsoft YaHei";
}
input:focus{
	outline: none;
}
#top_nav{
	height: 30px;
	background: #323232;
}
#top_nav a{
	    font-family: "Hiragino Sans GB","Microsoft YaHei";
	    font-size: 14px;
	    color: #c0c0c0;
	    font-weight: bold;
}
#top_nav>img{
	float: left;
	height: 30px;
	width: 100px;
	margin-bottom: 1px;
}
.top_nav_ul{
	float: left;
	margin-left: 20px;
	height: 30px;
} 
#top_nav li{
	float: left;
	line-height: 30px;
}
#top_nav li>a{
	padding: 0 12px;
}
#top_nav a:hover{
	color: #10b041;
}
#top_nav .top_nav_ul li:nth-of-type(5) a{
	color: #10b041;
}
#top_nav_right{
	float: left;
	margin-left: 100px;
	line-height: 30px;
	width: 40%;
}


/*搜索样式*/
.top_search{
	position: absolute;
	z-index: 200;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	top: 30px;
	left: 0;
	width: 200px;
	font-size: 14px;
}
.title_search_ul{
	list-style: none;
	margin: 0;
}
.title_search_ul>li{
	clear: both;
	min-height: 30px;
	line-height: 30px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.title_search_ul li a{
	display: block;
	padding: 0 10px;
	min-height: 30px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.title_search_ul>li>a>dl{
	line-height: 15px;
    padding: 10px 0 10px 40px;
    border-bottom: 1px solid #ededed;
}
.title_search_ul>li>a>dl>dt{
	float: left!important;
    margin-left: -40px;
}
.title_search_ul>li>a>dl>dt>img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
.title_search_ul>li>a>dl>dd{
	min-height: 30px;
}





#conter{
	position: relative;
}
#conter>form{
	display: inline-block;
}
#top_nav_right .ul_list {
	float: left;
	position: absolute;
	top: 0;
	left: 920px;
	height: 30px;
	width: 300px;
}
#top_nav_right li{
	margin: 0 5px;
}
#top_nav .ul_list li:nth-of-type(1){
	background: url(../images/qq.jpg);
	height: 16px;
	width: 16px;
	margin-top: 8px;
}
#top_nav .ul_list li:nth-of-type(2){
	background: url(../images/sina.jpg);
	height: 15px;
	width: 16px;
	margin-top: 8px;
}
.search{
	position: absolute;
	height: 13px;
	width: 15px;
	top: 9px;
	left: 895px;
	background-image: url(../images/timg.jpg);
	background-size: 100%;
	cursor:pointer;
}
.sousuo{
	position: relative;
	width: 170px;
	border: none;
}
#top_nav .ul_list li:nth-of-type(3){
	background: url(../images/weix.jpg);
	height: 14px;
	width: 16px;
	margin-top: 8px;
}
#top_nav_right .ul_list li:last-of-type a{
	color: #c0c0c0;
}



/*zw_header 第二头部*/

#zw_header{
	background: #fff;
	border-bottom: 2px solid #45c79f;
}
.header_warp{
	width: 1160px;
	margin: 0 auto;
}
.header_warp_unit{
	padding: 25px 0;
}
.header_logo{
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
}
.header_logo img{
	width: 118px;
	height: 34px;
}
.header_search_div{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-left: 60px;
}
.search_image{
	float: left;
	height: 18px;
	width: 18px;
	margin: 0 10px;
}
/*搜索框*/
.autoComplete{
	position: absolute;
	background: #fff;
	left: 60px;
	top: 41px;
	width: 570px;
	z-index: 99;
}
.search_li{
	padding: 0 12px;
	font-size: 16px;
	line-height: 38px;
	cursor: pointer;
}
.search_li:hover{
	background: #21c09e;
}
.search_span{
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.banner_default{
	display: none;
}
.autoComplete em{
	float: right;
	font-size: 14px;
	color: #dbdbdb;
	font-style: normal;
	font-weight: 500;
}
.keyword{
	float: left;
    width: 310px;
    height: 40px;
    border: none;
    padding: 10px 25px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}
.keyword:focus .banner_default{
	display: block;
}
.keysou{
	position: relative;
    z-index: 10;
    float: left;
    width: 118px;
    height: 40px;
    /*overflow: hidden;*/
    border: none;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    color: #00B081;
}


.keyword{
	position: relative;
	width: 615px;
	height: 40px;
	padding: 0 25px 0 43px;
	border: none;
	border-radius: 20px;
	background-color: #f0f0f0;
	font-size: 14px;
}
.link_item{
	display: inline-block;
	vertical-align: middle;
	margin-left: 65px;
	height: 26px;
}
.link_item a:first-of-type{
	padding-right: 12px;
}

.link_item a:last-of-type{
	margin-left: 12px;
}
.item_span_text{
	margin-left: 12px;
	font-size: 12px;
	color: #bbb;
	line-height: 12px;
	height: 11px;
	display: inline-block;
	vertical-align: middle;
}
.header_content{
	padding-bottom: 8px;
	height: 50px;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}
.header_hot{
	height: 50px;
	width: 155px;
	position: relative;
	float: left;
	margin-top: 10px;
}
.header_hot>a{
	display: inline-block;
	font-size: 14px;
	border-bottom: 2px solid #ffffff;
	color: #323232;
	margin: 0 8px;
	line-height: 26px;
}
#navul{
	float: left;
	height: 26px;
}
.navli{
	float: left;
	width: 100px;
	height: 48px;
}
.navli>a{
	display: block;
	font-size: 14px;
	line-height: 48px;
	border-bottom: 2px solid #ffffff;
	color: #323232;
	margin: 0 8px;
}
.navli:hover{
	border-bottom: 3px solid #45c79f;
}
.navli:hover a{
	color: #45c79f;
}
.navli:last-of-type{
	border-bottom: 3px solid #45c79f;
}
.navli:last-of-type>a{
	color: #45c79f;
}


/*热门目的地*/
#menu{
	position: absolute;
	top: 42px;
	z-index: 10;
	height: 420px;
	width: 280px;
	/*display: none;*/
}
#menu_ul{
	height: 410px;
	padding: 10px 0;
	background: #fff;
	background-image: url(../images/header-hot-bg.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#menu .menu_li{
	height: 56px;
}
#menu .menu_li h2{
	text-align: left;
	line-height: 20px;
	font-size: 18px;
	padding-top: 10px;
	width: 227px;
	color: #636363;
	float: right;
}
.menu_subtitle{
	font-size: 14px;
	height: 21px;
	width: 227px;
	display: inline-block;
	float: right;
}
.menu_subtitle a{
	float: left;
	color: silver;
	padding-right: 5px;
}
.menu_subtitle a:hover{
	text-decoration: underline;
	color: #10b041;
}
#menu_city{
	text-align: left;
	position: absolute;
	height: 400px;
	background: #fff;
	z-index: 20;
	float: left;
	margin: 10px 0 10px 280px;
}
#menu_city .menu_content{
	height: 392px;
	width: 700px;
	padding: 0 40px;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
}
#menu_city h2{
	border-bottom: 1px solid #ececec;
	margin-bottom: 12px;
	padding-top: 25px;
	padding-bottom: 10px;
	font-size: 22px;
	line-height: 32px;
	color: #323232;
}
#menu_city a{
	font-size: 14px;
	color: #636363;
}
#menu_city .small_city{
	float: left;
	margin-right: 10px;
	font-size: 14px;
	line-height: 24px;
}
#menu_city .city_pack:nth-of-type(2){
	clear: both;
}
#menu_city .city_pack:first-of-type{
	width: 100%;
	float: left;
	display: inline-block;
}
#menu_city .city_pack:nth-of-type(3){
	float: right;
}
.big_city_img{
	margin-top: 30px;
	float: left;
}
#menu_city .big_city_img img{
	margin-top: 30px;
	width: 100%;
	height: auto;
}
#menu_city .column{
	float: left;
	width: 290px;
	height: 370px;
	overflow: hidden;
}
#menu_city .menu_content>.column:nth-of-type(2){
	padding-left: 40px;
}
#menu_city .menu_content:nth-of-type(6){
	height: 393px;
	width: 400px;
}
#menu_city .menu_content:nth-of-type(6) .column{
	width: 320px;
}
#menu_city .menu_content:nth-of-type(6) .column .city_pack{
	width: 320px;
}
#menu_city .menu_content:nth-of-type(6) img{
	height: 80px;
	width: 80px;
	float: left;
}
#menu_city .menu_content:nth-of-type(6) .small_city{
	margin: 0 0 20px 25px;
}


#banner_wrap{
	height: 420px;
	background: #33312e;
	position: relative;
}
.module_banner{
	background-image: url(../images/pict.jpg);
	position: absolute;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	height: 100%;
}

/*筛选条件*/
#sieve{
	margin-top: 35px;
	height: 102px;
}
.sieve_ancor{
	width: 1160px;
	height: 102px;
	margin: -1px auto 0;
	padding: 4px 20px 0 27px;
	background: #fff;
	border: 1px solid #ddd;
}
.city_name{
	white-space: nowrap;
	font-size: 0;
	padding: 18px 0 0;
}
.city_title{
	display: inline-block;
	line-height: 22px;
	vertical-align: top;
	width: 90px;
	font-size: 14px;
	color: #323232;
	padding-top: 1px;
}
.check_city{
	border-bottom: none;
	color: #636363;
	white-space: nowrap;
	display: inline-block;
	font-size: 0;
	width: 1010px;
	padding-bottom: 4px;
	position: relative;
}
.city_all{
	display: inline-block;
	font-size: 14px;
}
.city_all>a{
	padding: 0 5px;
	background: #12af7e;
	color: #fff;
}
.list_wrap{
	display: inline-block;
	vertical-align: top;
	width: 980px;
	height: 74px;
}
.list_wrap_ul{
	font-size: 14px;
}
.list_wrap_ul>li{
	float: left;
	margin: 0 0 14px 10px;
	padding-top: 1px;
}
.list_wrap_ul>li>a{
	color: #636363;
	padding: 0 6px;
}





/*主体的内容*/
.bigCase{
	width: 1160px;
	margin: 25px auto 0;
	height: 272px;
	margin-bottom: 20px;
	position: relative;
	background-color: #fff;
}
.case_div>a>img{
	float: left;
	width: 400px;
	height: 270px;
}
.case_div{
	border: 1px solid #33312e;
	height: 100%;
}
.place_imgs{
	float: left;
}
.text_div{
	float: right;
	width: 758px;
	height: 270px;
	font-size: 16px;
}
.bigcard{
	height: 30px;
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #636363;
	padding: 0 5px;
	text-align: center;
	border: 1px solid #ddd;
	margin: 12px 0 12px 20px;
}
.infornum{
	line-height: 52px;
	font-size: 14px;
	color: #666;
	position: absolute;
	top: 0;
	right: 20px;
	margin-top: 5px;
}
.infornum>span{
	color: #00b081;
	padding: 0 5px 0 7px;
}
.text_div>h2{
	clear: both;
	display: block;
	width: 100%;
	height: 60px;
	line-height: 30px;
	font-size: 26px;
	overflow: hidden;
	text-align: left;
	font-weight: 400;
	padding: 0 20px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.text_div>h2>a{
	width: 100%;
	height: 60px;
	color: #000;
}
.infolist{
	padding: 10px 0 0 20px;
	display: block;
	width: 460px;
	height: 88px;
	overflow: hidden;
	float: left;
}
.infolist>li{
	width: 100%;
	line-height: 24px;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.infoprice{
	max-width: 246px;
	/*overflow: hidden;*/
	float: right;
	height: 38px;
	padding: 44px 20px 0 0;
	font-size: 14px;
	color: #999;
	line-height: 38px;
}
.infoprice>span{
	text-decoration: line-through;
}
.infoprice>em{
	font-size: 40px;
	color: #ff7362;
	padding: 10px 4px 0 12px;
	font-weight: 300;
	position: relative;
	top: 3px;
	vertical-align: 2px;
}
.bottombar{
	width: 758px;
	height: 56px;
	clear: both;
	font-size: 14px;
}
.bottombar>a{
	float: right;
	width: 174px;
	height: 56px;
	background-color: #ff7362;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 56px;
	margin-top: 12px;
}

/*翻页*/
.page_turning{
	width: 1160px;
	height: 24px;
	margin: 0 auto;
}
.ul_page{
	float: right;
	font-size: 14px;
}
.ul_page>a{
	padding: 0 12px;
	color: #ccc;
}
/*两页的设置*/
.first_page{
	position: relative;
}
.secound_page{
	position: relative;
	display: none;
}


















/*第一部分页脚*/
#addfirstfooter{
	background: #f5f5f5;
	height: 220px;
}
#addfirstfooter .footer_nav{
	text-align: center;
	padding-top: 25px;
}
#addfirstfooter .footer_nav li:before{
	content: '|';
	position: absolute;
	margin-left: -35px;
	color: #dfdfdf;
}
#addfirstfooter .footer_nav li:first-of-type:before{
	content: '';
}
#addfirstfooter .footer_nav li{
	margin-left: 69px;
	display: inline-block;
	font-size: 18px;
}
#addfirstfooter .footer_nav li:first-of-type{
	margin: 0;
}
#addfirstfooter .footer_nav li a{
	color: #575757;
}
#addfirstfooter .footer_nav li a:hover{
	color: #10b041;
	text-decoration: underline;
}
#addfirstfooter .footer_feature{
	width: 1160px;
	margin: 0 auto;
	overflow: hidden;
	padding: 60px 0 50px;
}
#addfirstfooter .footer_feature li{
	float: left;
	width: 275px;
	margin-left: 125px;
	padding-left: 75px;
}
#addfirstfooter .footer_feature li:first-of-type{
	margin-left: 0;
}
.footer_feature>li>p:first-of-type{
	position: absolute;
	margin-left: -75px;
	width: 56px;
	height: 56px;
	background: url(../images/foot-feature.png) no-repeat;
}
#addfirstfooter .bg_imgs1{
	background-position: 0 0;
}
#addfirstfooter .bg_imgs2{
	background-position: 0 -56px;
}
#addfirstfooter .bg_imgs3{
	background-position: 0 -112px;
}
#addfirstfooter .title{
	margin-bottom: 4px;
	width: 275px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}
#addfirstfooter .footer_text{
	width: 275px;
	color: #959595;
}




/* 第二部分页脚 */
#addlastfooter{
	color: #c0c0c0;
	height: 265px;
	padding: 48px 0;
	background: #333;
}
.footer_wrap{
	width: 1160px;
	margin: 0 auto;
}
.footer_into{
	float: left;
}
.footer_logo{
	float: left;
	margin-right: 25px;
}
.last_text{
	float: left;
	width: 540px;
	font-size: 14px;
	line-height: 24px;
}
.footer_line1{
	width: 1160px;
	height: 48px;
}
.footer_concerns{
	float: right;
	position: relative;
}
.footer_concerns dt{
	float: left;
	margin-right: 10px;
	font-size: 18px;
	line-height: 48px;
	color: #ececec;
}
.footer_concerns dd{
	float: left;
	margin-left: 10px;
}
.footer_concerns p{
	padding: 7px;
	border: 1px solid #959595;
	border-radius: 50%;
	height: 48px;
	width: 48px;
}
.footer_concerns span{
	display: block;
	font-size: 32px;
	color: #f0f0f0;
}
.footer_line2{
	padding-top: 46px;
}
.item{
	margin-bottom: 2px;
	font-size: 14px;
	color: #c0c0c0;
}
.item>a{
	color: #c0c0c0;
}
.item>span{
	margin: 0 18px;
}
.footer_list{
	font-size: 12px;
	line-height: 26px;
}